* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial;
    font-size: 16px;
    margin: 0;
    background: #000000;
}

svg text {
    stroke: #ffffff;
    font-size: 150px;
    font-weight: 700;
    stroke-width: 5;
    fill: transparent;
    animation: textAnimate 20s forwards;
    text-shadow: 0px 0px 50px rgb(255, 255, 255);



}

@keyframes textAnimate {
    0% {
        stroke-dasharray: 0 50%;

    }

    50% {
        stroke-dasharray: 50% 0;
    }

    100% {
        stroke-dasharray: 0 50%;
    }
}

@keyframes textAnimaterev {
    0% {
        stroke-dasharray: 0 50%;

    }

    50% {
        stroke-dasharray: 50% 0;
    }

    100% {
        stroke-dasharray: 0 50%;
    }

}

#cumming {
    stroke-dasharray: 0px 10px;
    animation: textAnimaterev 20s forwards 20s;

}

svg {
    position: absolute;
    top: 13%;
}